@media (prefers-color-scheme: dark) {
  * {
    background-color: var(--neutral-900);
    color: var(--neutral-100);
  }
}

*[data-theme='dark'] {
  * {
    background-color: var(--neutral-900);
    color: var(--neutral-100);
  }
}
