@media (prefers-color-scheme: dark) {
    * {
        color: var(--neutral-100);
        background-color: var(--neutral-900);
    }
}

*[data-theme="dark"] {
    * {
        color: var(--neutral-100);
        background-color: var(--neutral-900);
    }
}