/* https://colorffy.com/color-scheme-generator?color=063A59 */
:root {
  --brand-primary-color: #063a59;
  --brand-primary-light-color: var(--blue-200);
  --brand-secondary-color: #592506;
  --brand-secondary-light-color: var(--brown-200);
  --brand-accent-color: #f58320;

  /* NEUTRAL */
  --neutral-0: #fff;
  --neutral-100: #e6e6e6;
  --neutral-200: #cecece;
  --neutral-300: #b6b6b6;
  --neutral-400: #9f9f9f;
  --neutral-500: #888;
  --neutral-600: #6b6b6b;
  --neutral-700: #505050;
  --neutral-800: #363636;
  --neutral-900: #1e1e1e;
  --neutral-1000: #000;

  /* BLUE */
  --blue-100: color-mix(in srgb, var(--blue-500) 20%, var(--neutral-0));
  --blue-200: color-mix(in srgb, var(--blue-500) 40%, var(--neutral-0));
  --blue-300: color-mix(in srgb, var(--blue-500) 60%, var(--neutral-0));
  --blue-400: color-mix(in srgb, var(--blue-500) 80%, var(--neutral-0));
  --blue-500: var(--brand-primary-color);
  --blue-600: color-mix(in srgb, var(--blue-500) 80%, var(--neutral-1000));
  --blue-700: color-mix(in srgb, var(--blue-500) 60%, var(--neutral-1000));
  --blue-800: color-mix(in srgb, var(--blue-500) 40%, var(--neutral-1000));
  --blue-900: color-mix(in srgb, var(--blue-500) 20%, var(--neutral-1000));

  /* BROWN */
  --brown-100: color-mix(in srgb, var(--brown-500) 20%, var(--neutral-0));
  --brown-200: color-mix(in srgb, var(--brown-500) 40%, var(--neutral-0));
  --brown-300: color-mix(in srgb, var(--brown-500) 60%, var(--neutral-0));
  --brown-400: color-mix(in srgb, var(--brown-500) 80%, var(--neutral-0));
  --brown-500: var(--brand-secondary-color);
  --brown-600: color-mix(in srgb, var(--brown-500) 80%, var(--neutral-1000));
  --brown-700: color-mix(in srgb, var(--brown-500) 60%, var(--neutral-1000));
  --brown-800: color-mix(in srgb, var(--brown-500) 40%, var(--neutral-1000));
  --brown-900: color-mix(in srgb, var(--brown-500) 20%, var(--neutral-1000));

  /* ORANGE */
  --orange-100: color-mix(in srgb, var(--orange-500) 20%, var(--neutral-0));
  --orange-200: color-mix(in srgb, var(--orange-500) 40%, var(--neutral-0));
  --orange-300: color-mix(in srgb, var(--orange-500) 60%, var(--neutral-0));
  --orange-400: color-mix(in srgb, var(--orange-500) 80%, var(--neutral-0));
  --orange-500: var(--brand-accent-color);
  --orange-600: color-mix(in srgb, var(--orange-500) 80%, var(--neutral-1000));
  --orange-700: color-mix(in srgb, var(--orange-500) 60%, var(--neutral-1000));
  --orange-800: color-mix(in srgb, var(--orange-500) 40%, var(--neutral-1000));
  --orange-900: color-mix(in srgb, var(--orange-500) 20%, var(--neutral-1000));
}
